<launch>

  <include file="$(find head_controller)/launch/head_controller.launch"/>

  <!-- Oculus Driver -->
  <node pkg="oculus_driver" type="oculus_node" name="oculus_node">
  </node>

  <!-- <node pkg="image_view" type="image_view" name="image_view" args="image:=/vision/stereo"> -->
  <!-- </node> -->

  <!-- <include file="$(find immersive)/launch/key_controller.launch"/> -->

</launch>
