<launch>

  <arg name="create_port" default="/dev/ttyUSB1"/>

  <include file="$(find immersive)/launch/bringup.launch">
    <arg name="port" value="$(arg create_port)"/>
  </include>

  <include file="$(find head_controller)/launch/head_receiver.launch">
  </include>

  <include file="$(find vision_controller)/launch/publish_stereo.launch"/>

</launch>
